*.[__pycache__]
*[output]
*.python-version
*nfs
*ssd
/.ssd
/.ssdb
/.ssd_v
/.python-version

ssd
ssdb

/checkpoint
/datasets
/output
/wandb

/benchmarks/data_wds_362
/benchmarks/shaders
/benchmarks/tars
/benchmarks/weights
/benchmarks/ssd*



/render_engines/fdb/bake_db
/render_engines/fdb/csv/large
/render_engines/fdb/csv/data1k_fromPython
/render_engines/fdb/ssd_*
/render_engines/fdb/ssd/
/render_engines/fdb/ssd


/render_engines/fdb/ed_fractal2d_cpu/build
/render_engines/fdb/ed_fractal2d_cpu/data

/render_engines/fdb/csv/searched_params

/render_engines/fdb/nfs
/render_engines/fdb/wandb